<?php

$rcmail_config['textmagic_login'] = '';
$rcmail_config['textmagic_apipassword'] = '';

// de=49
$rcmail_config['textmagic_defaultMsisdnPrefix'] = '49'; 


$rcmail_config['default-msisdn'] = '9991234567'; 
$rcmail_config['default-message'] = '<message>';


?>